.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h6 {
    display: flex;
    justify-content: center;
    color: $color-1;
    font-family: $font-1;
    font-size: 200px;
    width: 1240px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 284px;
}

h3 {
    display: flex;
    justify-content: center;
    color: $color-1;
    font-family: $font-1;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: lighter;
}

a {
    display: flex;
    justify-content: center;
    font-family: $font-1;
    
}