
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


$font-1: "Montserrat", sans-serif;

$color-1: #FF6060;


html,
body {
    height: 100%;
    font-family: $font-1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 1024px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page occupe toujours 100% de la hauteur */
  }

.header {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex: 1;
}

li {
    list-style-type: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
      max-width: 1024px; /* Limite la largeur à 1024px */
      min-width: 769px;
      margin: 0 auto; /* Centre le conteneur horizontalement */
      box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container {
      max-width: 768px;
      min-width: 375px;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 0;
    }
}