@font-face {
    font-family: Montserrat;
    src: url(../../../../../assetfonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

$font-1: "Montserrat", sans-serif;

$color-1: #FF6060;

body {
    display: flex;
    justify-content: center;
    font-family: $font-1;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}