.banner2 {
    margin: 5px auto;
    width: 1240px;
    height: 180px;
    border-radius: 20px;
    padding: 5px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
    background: url(../../../public/Imagesource2.png) center/cover;
    filter: brightness(0.5);
    margin-bottom: 50px;
}